<div class="modal fade" id="LoadingModal" tabindex="-1" aria-labelledby="LoadingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Procesando solicitud</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only"></span>
                        </div>
                        &nbsp;<span>Procesando solicitud, por favor espere...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>