
@{
    ViewData["Title"] = "Registrar usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card box-shadow p-4">
            <div class="text-center">
                <h3>Registrar nuevo negocio</h3>
            </div>
            <hr>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <input type="text" name="name" id="businessName" class="form-control" placeholder="Nombre del negocio">
                        <div class="invalid-feedback" id="businessNameValidation">

                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="number" id="rnc" class="form-control" placeholder="Rnc">
                        <div class="invalid-feedback" id="rncValidation">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-2">
                        <input type="number" name="phone" id="phone" class="form-control" placeholder="Teléfono">
                        <div class="invalid-feedback" id="phoneValidation">

                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico">
                        <div class="invalid-feedback" id="emailValidation">

                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <select id="country" class="form-control">
                            <option value="" selected disabled>Selecciona un país</option>
                        </select>
                        <div class="invalid-feedback" id="countryValidation">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="city" class="form-control" placeholder="Ciudad">
                        <div class="invalid-feedback" id="cityValidation">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" id="province" class="form-control" placeholder="Provincia">
                        <div class="invalid-feedback" id="provinceValidation">

                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="street1" placeholder="Calle 1">
                        <div class="invalid-feedback" id="street1Validation">

                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="street2" placeholder="Calle 2 (opcional)">
                    </div>
                    <div class="col-md-4">
                        <input type="number" class="form-control" id="houseNumber" placeholder="Número de casa o puerta">
                        <div class="invalid-feedback" id="houseNumberValidation">

                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <input type="hidden" id="latitude" />
                        <input type="hidden" id="longitude" />
                        <label for="userMap">Dirección exacta:</label>
                        <div id="userMap" style="width: 100%; height: 300px">

                        </div>
                        <div class="text-danger" id="latLngValidation">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña">
                        <div class="invalid-feedback" id="passwordValidation">

                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirmar contraseña">
                        <div class="invalid-feedback" id="confirmPasswordValidation">

                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="formFile" class="form-label mt-4">Foto para el perfil</label>
                    <input class="form-control" type="file" id="photo" accept="image/*">
                    <input type="hidden" name="photoBase64" id="photoBase64">
                </div>
                <div class="d-grid gap-2">
                    <button type="button" id="registerBtn" data-toggle="modal" data-target="#LoadingModal" class="btn btn-block btn-outline-success">
                        Registrarme
                    </button>
                </div>
                <hr>
                <div class="text-center">
                    <p>¿Ya posees una cuenta? <a asp-controller="Account" asp-action="Index">Inicia sesión</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Partials/_LoadingModalPartial.cshtml")
@await Html.PartialAsync("~/Views/Partials/_ResultMessagesModalPartial.cshtml")
