<div class="col-md-6">
    <input type="hidden" id="loanId" />
    <div class="form-group">
        <label>Nombre del Préstamo:</label>
        <input type="text" id="loanNameFilter" class="form-control" placeholder="Nombre del Préstamo">
        <div class="invalid-feedback" id="loanValidation">

        </div>
    </div>
    <div class="d-none selectable" id="loanSourceContainer">
        <ul id="loanSource">
        </ul>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label>Código del usuario:</label>
        <input type="number" id="userId" class="form-control" disabled />
    </div>
</div>