<div class="col-md-6">
    <input type="hidden" id="userId" />
    <input type="text" id="userFullName" class="form-control" placeholder="Nombre del usuario">
    <div class="invalid-feedback" id="userValidation">

    </div>
    <div class="d-none selectable" id="userSourceContainer">
        <ul id="userSource">
        </ul>
    </div>
</div>