<div class="modal fade" id="DeleteConfirmLoanModal" tabindex="-1" aria-labelledby="DeleteConfirmLoanModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Eliminar</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>¿Estás seguro/a de querer eliminar este préstamo? Se perderán los siguientes datos: </p>
                        <ol type="1">
                            <li>Pagos hechos a este préstamo.</li>
                        </ol>
                        <p>Si estás de acuerdo presiona aceptar, si se trata de un error presiona cancelar.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-2">
                        <button class="btn btn-danger" id="deleteLoanBtn">Confirmar</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>