<div class="modal fade" id="LoanModalDetail" tabindex="-1" aria-labelledby="LoanModalDetail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="createLoanTitle">Detalles o información del préstamo</h6>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h6>Código: </h6>
                        <p id="loanIdView"></p>
                    </div>
                    <div class="col-md-6">
                        <h6>Cantidad de cuotas:</h6>
                        <p id="duesQuantityView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h6>Préstamo total:</h6>
                        <p id="totalLoanView"></p>
                    </div>
                    <div class="col-md-6">
                        <h6>Fecha de inicio:</h6>
                        <p id="startDateView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h6>Fecha final:</h6>
                        <p id="endDateView"></p>
                    </div>
                    <div class="col-md-6">
                        <h6>Día de pago:</h6>
                        <p id="payDayView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <h6>Tasa de interés:</h6>
                        <p id="interestRateView"></p>
                    </div>
                    <div class="col-md-4">
                        <h6>Pago mensual:</h6>
                        <p id="mensualPayView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6 offset-md-3">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">
                            <i class="fas fa-times"></i>
                            <span>Cerrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>