<div class="modal fade" id="AssignmentDetailModal" tabindex="-1" aria-labelledby="AssignmentDetailModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="createAssignmentTitle">Detalles o información de la asignación</h6>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-4">
                        <h6>Código: </h6>
                        <p id="assignmentIdView"></p>
                    </div>
                    <div class="col-md-4">
                        <h6>Usuario:</h6>
                        <p id="userView"></p>
                    </div>
                    <div class="col-md-4">
                        <h6>Vehículo:</h6>
                        <p id="vehicleView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <h6>Fecha de asignación:</h6>
                        <p id="dateView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <h6>Comentario:</h6>
                        <p id="commentView" style="text-align: justify"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6 offset-md-3">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">
                            <i class="fas fa-times"></i>
                            <span>Cerrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>