<div class="modal fade" id="DeleteConfirmAssignmentModal" tabindex="-1" aria-labelledby="DeleteConfirmAssignmentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar Eliminar</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>¿Estás seguro/a de querer eliminar esta asignación?</p>
                        <p>Si estás de acuerdo presiona aceptar, si se trata de un error presiona cancelar.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-2">
                        <button class="btn btn-danger" id="deleteAssignmentBtn">Confirmar</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>