<div class="modal fade" id="VehicleModalDetail" tabindex="-1" aria-labelledby="VehicleModalDetail" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="createVehicleTitle">Detalles o información del vehículo</h6>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-4">
                        <h6>Código: </h6>
                        <p id="vehicleIdView"></p>
                    </div>
                    <div class="col-md-4">
                        <h6>Marca:</h6>
                        <p id="brandView"></p>
                    </div>
                    <div class="col-md-4">
                        <h6>Modelo:</h6>
                        <p id="modelView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3">
                        <h6>Matrícula:</h6>
                        <p id="enrollmentView"></p>
                    </div>
                    <div class="col-md-3">
                        <h6>Placa:</h6>
                        <p id="licensePlateView"></p>
                    </div>
                    <div class="col-md-3">
                        <h6>Color:</h6>
                        <p id="colorView"></p>
                    </div>
                    <div class="col-md-3">
                        <h6>Año:</h6>
                        <p id="yearView"></p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6 offset-md-3">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">
                            <i class="fas fa-times"></i>
                            <span>Cerrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>